body {
  margin: 0;
  font-family:Arial Verdana, serif;
  font-size:24px;
  font-style: italic;
  color: #e8e2d5;
}

/*stijl van hyperlinks*/
a {
  color: #333333;
  background-color: #ffcc35;
  padding: 14px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-style:normal;
  font-family: Arial Verdana, sans-serif;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
}
a:hover {
  background-color: #e5b62b;
  padding: 14px 20px;
  text-decoration: none;
}

/*veelgebruikte dividers*/
.dividertekst {
  width: 93vw;
  max-width: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.dividertekstlijst {

  text-align: left;
  position: absolute;
  max-width: 750px;
  top: 5%;

}

/*alle specifieke dividers*/
.welkomstbericht {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ), url(afbeeldingen/huis.jpg);
  background-color: #cccccc;
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /*min-height:100vh;*/
}
.boodschappen {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ), url(afbeeldingen/eten.jpg);
  background-color: #cccccc;
  height: 600px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.saldo {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ), url(afbeeldingen/groepsfoto.jpg);
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.aanwezig {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ), url(afbeeldingen/aantafel.jpg);
  background-color: #cccccc;
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.huistaken {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ), url(afbeeldingen/thijskeuken.jpg);
  background-color: #cccccc;
  height: 500px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.yorick {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ), url(afbeeldingen/yorickthuis.jpg);
  background-color: #cccccc;
  height: 800px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.huisinkopen {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ), url(afbeeldingen/vollekoelkast.jpg);
  background-color: #cccccc;
  height: 500px;
  background-position: 65% 35%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.isEJbrak {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ), url(afbeeldingen/EJbrak.jpg);
  background-color: #cccccc;
  height: 1300px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.allemaaltijden {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ), url(afbeeldingen/groepsfoto2.jpg);
  background-color: #cccccc;
  height: 3000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


/*stijl van knoppen en invoervakjes*/
select {
  color: #e8e2d5;
  font-size: 25px;
  background: transparent;
  margin-bottom: 25px;
  width:50%;
}
input[type=text]{
  color: #e8e2d5;
  font-size: 25px;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #e8e2d5;
  margin-bottom: 25px;
  width:50%;
}
input[type=number]{
  color: #e8e2d5;
  font-size: 25px;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #e8e2d5;
  margin-bottom: 25px;
  width:48%;
}
input[type=date]{
  color: #e8e2d5;
  font-size: 25px;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #e8e2d5;
  margin-bottom: 25px;
  width:50%;
}
label{
  color: #51504f;
  font-style:normal;
  font-family: Arial Verdana, sans-serif;
}
input[type=checkbox]{
    opacity: 0;
}
input[type=checkbox]:checked + label {
  color: #ffcc35;
}
ul {
  margin-left:-50px;
  list-style-type: none;
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}

/*formulier voor declareren boodschappen met blur */
.declarerenachtergrond {
  background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ), url(afbeeldingen/groepsfoto2.jpg) fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 68%;
  padding-top: 300px;
  padding-bottom: 75px;

}
.formulier {
  width: 85vw;
  max-width: 600px;
  background: inherit;
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin: auto;
  padding-left: 40px;
  padding-bottom: 40px;
  border-radius: 15px;
}
.formulier::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0; right: 0; bottom: 0; left: 0;
  background: inherit;
  filter: blur(10px);
  box-shadow: inset 0 0 2000px rgba(255,255,255,.5);
  margin: -20px;
}

/*profielfoto's*/
.profielfoto {
  object-fit: cover;
  width:200px;
  height:200px;
  border-radius:50%;
  float:left;
  margin-right:20px;
}
.profiellijstitem {
  height: 200px;
  width: 600px;
}
.profiellijst {
  width: 93vw;
  max-width: 600px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

.profielenachtergrond {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ), url(afbeeldingen/raampoetsen.jpg);
  background-color: #cccccc;
  height: 2000px;
  min-width: 600px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
