body {
  margin: 0;
  font-family:Arial Verdana;
  font-size:24px;
  font-style: italic;
}


a {
  color: black;
  background-color: #e28b00;
  padding: 14px 20px;
  text-decoration: none;
  font-style:normal;
  border-radius: 5px;
  font-family: Arial Verdana, sans-serif;
  display: inline-block;
}

a:hover {
  background-color: #cc7d00;
  padding: 14px 20px;
  color: black;
  text-decoration: none;
}

.dividertekst {
  color: white;
  text-align: left;
  position: absolute;
  max-width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dividertekstlijst {
  color: white;
  text-align: left;
  position: absolute;
  max-width: 750px;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -5%);
}

.welkomstbericht {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ), url("/afbeeldingen/huis.jpg");
  background-color: #cccccc;
  min-height: 560px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.boodschapskosten {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ), url("/afbeeldingen/eten.jpg");
  background-color: #cccccc;
  height: 600px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.saldo {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ), url("/afbeeldingen/groepsfoto.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.wieiserthuis {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ), url("/afbeeldingen/aantafel.jpg");
  background-color: #cccccc;
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.huistaken {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ), url("/afbeeldingen/thijskeuken.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.yorick {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ), url("/afbeeldingen/yorickthuis.jpg");
  background-color: #cccccc;
  height: 800px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.huisinkopen {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ), url("/afbeeldingen/vollekoelkast.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: 65% 35%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.isEJbrak {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ), url("/afbeeldingen/EJbrak.jpg");
  background-color: #cccccc;
  height: 1300px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.allemaaltijden {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ), url("/afbeeldingen/groepsfoto2.jpg");
  background-color: #cccccc;
  height: 3000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

select {
  font-size: 50px;
}

input[type=text]{
  font-size: 25px;
}

input[type=number]{
  font-size: 25px;
  width: 295px;
}

input[type=date]{
  font-size: 25px;
}

.declarerenachtergrond {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ), url("/afbeeldingen/groepsfoto2.jpg");
  background-color: #cccccc;
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.kleur {

}
